<% provide :title, t(".header", name: @user.name) %>

<div class="container-fluid product-detail">
  <div class="row">
    <div class="col-md-offset-1 col-md-3">
      <div class="product_image">
        <%= image_tag @user.image.url, size: Settings.user.size_big  %>
      </div>
    </div>
    <div class="col-md-7">
      <table class="table ">
        <theader>
          <tr>
            <th><%= t ".name" %></th>
            <td><%= @user.name %></td>
          </tr>
        </theader>
        <tbody>
          <tr>
            <th><%= t ".email" %></th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th><%= t ".phone_number" %></th>
            <td><%= @user.phone_number %></td>
          </tr>
          <tr>
            <th><%= t ".address" %></th>
            <td><%= @user.address %></td>
          </tr>
        </tbody>
      </table>
      <% if can? :edit, @user %>
        <%= link_to t(".edit_profile"), edit_user_registration_path,
          class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
